.wrapper
  .banner
    .banner__text
      .banner__title Бонус#[br] на перший депозит
      .banner__spin
        .banner__spin-top 4500₴
        .banner__spin-bottom
          img(src='img/plus.svg' alt="plus")
          span 150 фріспінів
    .banner__image
      img(src='img/wheel.png' alt="plus").o


